/*FONDO DE PANTALLA*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:0;
    margin:0;
}


/*CABECERA - header*/
#header {
    background: linear-gradient(to right, #5b5b5b,#2d2c2d);
    color: white;
    display: flex; /* Usamos Flexbox para centrar los elementos */
    justify-content: space-between; /* Mantiene elementos separados en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 15px 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    height: 100px;
}

#header .logo {
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centra horizontalmente el logo */
    align-items: center; /* Centra verticalmente el logo */
}

#header .logo img {
    max-width: 85px; /* Mantiene el tamaño máximo del logo */
  /*   height: auto; Asegura que la proporción del logo sea correcta */
}


#header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* Ajusta el espaciado entre el icono y el texto */
#header nav ul li a {
    display: flex; /* Cambia el comportamiento a flexbox */
    align-items: center; /* Alinea verticalmente el texto e icono */
    gap: 8px; /* Agrega un espacio entre el icono y el texto */
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s ease;
}

/* Iconos más pequeños si es necesario */
#header nav ul li a i {
    font-size: 1.2rem; /* Ajusta el tamaño de los iconos */
}


#header nav ul li a:hover {
    background: #6576b4;
    color: #2d3a68;
    transform: scale(1.1);
}


/* RESPONSIVE */
@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    #header {
        flex-direction: column;
        gap: 15px;
    }

    #header nav ul {
        flex-direction: column;
        gap: 10px;
    }
}

/* PIE DE PAGINA - Footer */
/* Aseguramos que el HTML y el BODY ocupen el 100% del alto */
html, body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f1eeee;
    font-family: "Poppins", sans-serif;

}

/* El contenedor principal ocupa el espacio disponible */
main {
    flex: 1; /* Esto hace que el main crezca para llenar el espacio disponible */
}

/* Footer permanece al final */
footer {
    background: linear-gradient(to right, #5b5b5b,#2d2c2d);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
}


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.fondo_globaleess {
    background: #E7E3DA;          
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #000000;
}

.container {
  max-width: 60em;
  min-width: 45em;
  margin: 0 auto;
  padding: 0 2em;
}

.nav_inicio {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    top: 0;
    z-index: 3;
}

.nav_inicio ul {
    padding-top: 12px;
    margin: 10px;
    list-style-type: none;
    float: right;
}

.nav_inicio ul li {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  transition: all 0.2s;
}

.nav_inicio ul li:last-child {
  padding-right: 0;

}

.nav_inicio ul li a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.3s;
}

.nav_inicio ul li a:hover {
  color: #000000;
  background-color: rgb(221, 190, 155);
  padding: 5px;
}

.container .frase_inicio{
    text-align: center;            
}

#icon {
  display: inline-block;
  padding-top: 0.7em;
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}


#nav-bg {
  background: #645047;
  position: fixed;
  height: 5em;
  width: 100%;
  top: 0;
  z-index: 1;
}

header {
  position: relative;
  background: url("../img/iniciofoto.jpg");
  background-position: center;
  background-size: cover;
  padding: 10em 0 8em;
  z-index: 2;
  
}

header h1 {
  font-size: 4em;
  text-transform: uppercase;
  text-align: center;
}

#about {
  background: #E7E3DA;
  height: auto;
  padding: 5em 0;
}

#about p {
  line-height: 2em;
  font-size: 1.4em;
  margin: 0;
  color: #222;
}
.explicacionQueVasAEncontrar {
    text-align: center;
    margin-top: -53px;
}
.explicacionQueVasAEncontrar h2{
    color: black;
    margin-top: 10px;
}

/* Estilo base para el contenedor */
.GlobalApartadosInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar en la página */
}

/* Estilo para cada elemento de la lista */
.GlobalApartadosInfo li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Se adaptará al tamaño del grid */
    max-width: 550px; /* Ancho máximo por elemento */
    margin: 0 auto; /* Centrar dentro de la celda */
}








/* Animación al pasar el mouse */
.GlobalApartadosInfo li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
    background-color: #f1f1f1;
}

/* Responsividad */
@media (max-width: 1024px) {
    .GlobalApartadosInfo {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .GlobalApartadosInfo {
        grid-template-columns: 1fr;
    }
}

.container2 {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 40px;
  background:#E7E3DA;

}















/* COMO TRABAJAMOS */
.apartados {
background-color: #f9f9f9;
margin: 20px auto;
padding: 30px 20px;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
max-width: 1200px;
text-align: center;
}

/* Titulos */
.titulo_apartados {
font-size: 2rem;
font-weight: bold;
color: #6576b4;
margin-bottom: 20px;
text-align: center;
margin-top: 0;
}


.coaching {
font-size: 1.5rem;
font-weight: bold;
color: #503c2e;
margin-bottom: 10px;
text-align: center;
}

/* Párrafos */
.centrado {
text-align: center;
font-size: 1rem;
color: #555;
margin-bottom: 20px;
}

.preguntas{
font-size: 1rem;
color: #555;
margin-bottom: 20px;
line-height: 1.8;
text-align: justify;
}

/* Apartados especificos */
section.apartados#apartados {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
}

section.apartados .centrar_info {
display: flex;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
background-color: #ffffff;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Mapa */
#mapa {
width: 100%;
height: 400px;
margin: 20px auto;
border-radius: 10px;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.info_ubi {
width: 48%; /* Ajustar el ancho para dar más espacio entre las cajas */
float: left;
text-align: left;   
margin-right: 2%; /* Espacio entre las cajas */
}

.horarios {
width: 50%; /* Mantener el mismo ancho que info_ubi */
float: left; /* Cambiar de 'right' a 'left' para alineación uniforme */
text-align: center; /* Centrar el texto */
display: flex; /* Usar Flexbox para centrar el contenido */
flex-direction: column; /* Asegurar alineación vertical */
justify-content: center; /* Centrar contenido verticalmente */

align-items: center; /* Centrar contenido horizontalmente */
gap: 15px; /* Espaciado interno entre los elementos */
}

.calle {
margin-bottom: 15px;
}

.horarios {
overflow: hidden;
}

.horarios h4 {
text-align: center;
margin-bottom: 20px;
}

.entre-semana,.fin-semana {
float: left;
text-align: center;
}  

/* RESPONSIVE */
@media (max-width: 768px) {
section.apartados .centrar_info {
    flex-direction: column;
}

section.apartados .info_ubi,
section.apartados .horarios {
    flex: 1 1 100%; /* Ancho completo en pantallas pequeñas */
}
}

/* RESPONSIVE */
@media (max-width: 768px) {
h1, h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.3rem;
}

.preguntas {
    font-size: 0.9rem;
}
}






/* ESTILOS COACHING */
section h2.ApartadoCoachingTit {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

.coaching {
    margin: 15px 0;
    text-transform: none;
}

.expl_tiposcoaching {
    color: #000000;
    font-size: 19px;
    line-height: 1.75;
    font-family: 'Nunito', sans-serif;

}

.Centrar_info_coaching{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


.lock-icon_2{
    color: #3c1f70; /* Color fafa */
    font-size: 3rem; /* Ajusta el tamaño del icono */
    padding-top: 5%;
}

hr.highlight {
    height: 0.30rem;
    width: 6rem;
    background: #606e8c;
    margin: 0 auto 20px;
    margin-top: 20px;
    }

.coaching_columnas {
    display: flex;
    flex-wrap: wrap; /* Permite que las cajas se ajusten automáticamente en filas */
    justify-content: space-between; /* Espacia las cajas de manera uniforme */
    gap: 20px; /* Espaciado entre las columnas y filas */
}

.cajatiposcoaching {
    width: 48%; /* Ajusta el ancho para que quepan dos columnas */
    box-sizing: border-box; /* Asegura que padding y border no afecten el ancho */
    /* Mantiene el texto alineado a la izquierda */
    margin-bottom: 20px; /* Espacio entre filas */
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .cajatiposcoaching {
        width: 100%; /* Cada caja ocupa el 100% del ancho del contenedor */
        margin-right: 0; /* Elimina márgenes entre columnas */
    }
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}


/* SOBRE EL TRABAJO */
.textos_quienessomos {
    color: #515151;
    font-size: 20px;
    line-height: 1.75;
}

.titulos_quienessomos, .textoinicioCoaching, .textoinicio, .SobreNosotrosTit, .ApartadoCoachingTit, .coaching {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 19px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.textoinicio{
    padding-bottom: 20px;
}

#SobreNosotras {
    padding: 50px 0;
}

#SobreNosotras h2.SobreNosotrosTit {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    color: #2d3a68;
    font-family: "Poppins", sans-serif;
}

#SobreNosotras h3.section-titulos_quienessomos {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

.todaslaspreguntas {
    position: relative;
    padding: 0;
    list-style: none;
}

.todaslaspreguntas:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #6a5245;
}

.todaslaspreguntas>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.todaslaspreguntas>li:before,
.todaslaspreguntas>li:after {
    content: " ";
    display: table;
}

.todaslaspreguntas>li:after {
    clear: both;
}

.todaslaspreguntas>li .apartadopregunta {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.todaslaspreguntas>li .apartadopregunta:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.todaslaspreguntas>li .apartadopregunta:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}


/*CCS de las bolas de decoración*/
.todaslaspreguntas>li .decoracion {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #3c1f70;
    border-radius: 100%;
    text-align: center;
    color: #000000;
    background-color: #6546a0;
}

.todaslaspreguntas>li .decoracion h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.todaslaspreguntas>li.otrolado>.apartadopregunta {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.todaslaspreguntas>li.otrolado>.apartadopregunta:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.todaslaspreguntas>li.otrolado>.apartadopregunta:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.todaslaspreguntas>li:last-child {
    margin-bottom: 0;
}

.todaslaspreguntas .preguntasola h4 {
    margin-top: 0;
    color: inherit;
}

.todaslaspreguntas .preguntasola h4.titulos_quienessomos {
    text-transform: none;
}

.todaslaspreguntas .cajatextos>p,
.todaslaspreguntas .cajatextos>ul {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* RESPONSIVE */
@media(min-width:768px) {
    #SobreNosotras {
        padding: 50px 0;
    }
}

@media(min-width:768px) {
    .todaslaspreguntas:before {
        left: 50%;
    }

    .todaslaspreguntas>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .todaslaspreguntas>li .apartadopregunta {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .todaslaspreguntas>li .decoracion {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .todaslaspreguntas>li .decoracion h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .todaslaspreguntas>li.otrolado>.apartadopregunta {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .todaslaspreguntas>li {
        min-height: 150px;
    }

    .todaslaspreguntas>li .apartadopregunta {
        padding: 0 20px 20px;
    }

    .todaslaspreguntas>li .decoracion {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .todaslaspreguntas>li .decoracion h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .todaslaspreguntas>li.otrolado>.apartadopregunta {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .todaslaspreguntas>li {
        min-height: 170px;
    }

    .todaslaspreguntas>li .apartadopregunta {
        padding: 0 20px 20px 100px;
    }

    .todaslaspreguntas>li .decoracion {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .todaslaspreguntas>li .decoracion h4 {
        margin-top: 40px;
    }

    .todaslaspreguntas>li.otrolado>.apartadopregunta {
        padding: 0 100px 20px 20px;
    }
}







